@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts */

@font-face {
  font-family: "Poppins";
  src: url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot");
  src: url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.svg#Poppins")
      format("svg");
}

@font-face {
  font-family: "Space Grotesk Regular";
  src: url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.eot");
  src: url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6fadb95f11c1a47a68286abbd4c33891.svg#Space Grotesk Regular")
      format("svg");
}

@font-face {
  font-family: "Inter";
  src: url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.eot");
  src: url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.svg#Inter")
      format("svg");
}

:root {
  --primary-font: "Space Grotesk Regular";
  --sec-font: "Poppins", sans-serif;
  --third-font: "Inter";
  --bg-btn: rgb(20, 23, 24);
  --primary-color: rgb(34, 40, 49);
  --sec-color: #31363f;
  --third-color: rgb(118  , 171, 174);
  --forth-color: #eeeeee;
  --fifth-color:#365486;
  --box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
}

/* styles */

.bg-glass {
  /* From https://css.glass */
  background: rgba(34, 40, 49,0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
}

html {
  overflow-x: hidden;
}

.primary-font {
  font-family: var(--primary-font);
}

.sec-font {
  font-family: var(--sec-font);
}

.third-font {
  font-family: var(--third-font);
}

.rete svg {
  width: 16px;
  height: 16px;
}

.slick-track {
  width: 100% !important;
  gap: 24px;
  display: flex;
}

.swiper-wrapper {
  justify-content: space-between;
  gap: 3.125rem;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: -webkit-fill-available !important;
}

.banner-one {
  background: url("/banners/ImagePlaceholder.svg");
}

.banner-two {
  background: url("/banners/headerbanner-2.svg");
}
